@model Model.DAO.DetalhesPedido

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DetalhesPedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Qtde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qtde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pedidos.NroPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pedidos.NroPedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Produtos.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produtos.Descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NroPedido }) |
    @Html.ActionLink("Back to List", "Index")
</p>
