@model IEnumerable<Model.DAO.DetalhesPedido>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Qtde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pedidos.NroPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produtos.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Qtde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pedidos.NroPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Produtos.Descricao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NroPedido }) |
            @Html.ActionLink("Details", "Details", new { id=item.NroPedido }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NroPedido })
        </td>
    </tr>
}

</table>
