@model Model.DAO.Enderecos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Enderecos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EnderecoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnderecoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clientes.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClienteID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
